@import "tailwindcss";

:root {
  --color-primary: #F875AA;
  --color-primary-hover: #e7649c;
  --color-bg: #FDEDED;
  --color-text: #3a1d2b;
  --color-border: #f3c1d3;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
